body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
    height: 100vh;
}

.painel-esquerdo {
    background-color: rgb(144, 4, 4);
    width: 200px;
    height: 100%;
}

.painel-direito {
    width: 100%;
    background-color: rgb(221, 207, 136);
    display: flex;
    justify-content: center;
    align-items: center
}

.tela {
    width: 600px;
    height: 600px;
    background-color: white;
    display: grid;
}