header {
    text-align: center;
}

main {
    display: flex;
    height: 100vh;
    flex-flow: row-reverse;
}

.painel-direito {
    background-color: rgb(144, 4, 4);
    width: 200px;
    height: 100%;
}

.painel-esquerdo {
    background-color: rgb(221, 207, 136);
    width: 100%;
}